<!DOCTYPE html>
<html>

<head>
    <title>Manga Reader</title>
    <link rel="stylesheet" href="manga_reader.css">
    <script type="text/javascript" src="manga_reader.js"></script>
</head>

<body>
    <div class="manga-reader-container">
        <img class="page page1" src="/images/1.webp" alt="">
        <img class="page page2" src="/images/2.webp" alt="">
    </div>
    <div class="action-panel">
        <div class="header menu disable">
            <div class="episode-name">Episode Name</div> 
        </div>
        <div class="main-action-layout">
            <div class="main-action go-left"></div>
            <div class="main-action menu-switch"></div>
            <div class="main-action go-right"></div>
        </div>
        <div class="footer menu disable">
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="page-indicator-frame">
                <div>
                    <span class="page-index">0</span>
                    /
                    <span class="page-count">0</span>
                </div>
            </div>
            <div class="page-fixed-frame">
                <div class="page-fixed">Fixed Page</div>
            </div>
            <div>&nbsp</div>
        </div>
    </div>
</body>
</html>